:root {
  --withe: #ffffff;
  --blak: #212121;
  --grey: #BDBDBD;
  --gray_med: #607D8B;
  --grey_dark: #757575;
  --red: #f44336;
  --red_dark: #d32f2f;
  --red_med: #FFCDD2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


section {
  padding: 10px;
}

body {
  background-color: var(--blak);
}

.nav_continer {
  color: var(--grey);
  margin: auto;
  max-width: 1250px;
}

.caht {
  position: relative;
  padding: 10px;
  background-color: var(--gray_med);
  margin: auto;
  height: calc(100vh - 110px);
  max-width: 550px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px var(--blak) inset;
}

.show_caht {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.show_caht::-webkit-scrollbar {
  width: 0px;
  overflow: hidden;
}


.send_caht {
  position: absolute;
  left: -5px;
  bottom: 5px;
  width: 100%;
}


.send_caht input {
  width: calc(100% - 10px);
  height: 50px;
  border: none;
  outline: none;
  box-shadow: 0px 0px 10px var(--blak);
  border-radius: 10px;
  font-size: 30px;
  padding-right: 70px;
}

.send_caht button {
  border: none;
  position: absolute;
  right: 5px;
  bottom: 5px;
  box-shadow: 0px 0px 6px #153a58 inset;
  background-color: #348cd4;
  width: 60px;
  height: calc(100% - 10px);
  font-weight: bold;
  border-radius: 0px 10px 10px 0px;
}

.send_caht button:hover {
  box-shadow: 0px 0px 6px #153a58;
}

.icon_send {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-45%, -50%);
  width: 25px;
  height: 25px;
  color: var(--withe);
}

.div_caht {
  width: 100%;
  margin-bottom: 10px;
}

.div_caht_viwe {
  background-color: #5caa44;
  width: fit-content;
  max-width: 55%;
  padding: 10px;
  border-radius: 10px;
}

.replay {
  padding: 0 3px;
  padding-left: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  max-width: 200px;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: #4a8837;
}

.send_caht_replay {
  display: flex;
  align-items: center;
  left: 5px;
  bottom: 45px;
  position: absolute;
  width: calc(100% - 10px);
  height: 55px;
  background-color: var(--withe);
  border-radius: 10px 10px 0 0;
  padding: 0px 10px 10px 20px;
  animation: send_caht_replay 0.3s ease;
}

@keyframes send_caht_replay {
  0% {
    bottom: 10px;
  }

  100% {
    bottom: 45px;
  }
}

.replay_close {
  height: 100%;
  width: 40px;
}

.send_caht_replay span {
  width: calc(100% - 40px);
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}




















@media (max-width: 1400px) {
  .nav_continer {
    max-width: 1100px;
  }
}

@media (max-width: 1200px) {
  .nav_continer {
    max-width: 892px;
  }
}

@media (max-width: 992px) {
  .nav_continer {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .nav_continer {
    max-width: 620px;
  }
}